body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    border-bottom: 2px solid #9999CC;
    justify-content: space-between;
}

.gsm-hd {
    color: #CCCCFF;
    margin-left: 1.2cm;
}

.gsm-bk {
    color: #99CC33;
}

.gsm {
    color: #CCCCFF;
}
ul {
    list-style: none;
    margin-right: 2cm;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

.menu {
    float: left;
    margin: 10px 20px;
}
/*---- hedaer-----------------------*/

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.box-epn{
    display: flex;
}
.list1{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li-box{
    padding: 0px 30px;
}
.li-list, .li-list3{
    padding: 0px 30px;
    
}
.box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 26%;
    height:500px;
    border-radius: 10px;
}

.color-1 {
    border: 2px solid black;
}

.color-2 {
    display: flex;
    justify-content: center;
    align-items: space-between ;
    border: 2px solid blue;
}

.color-3 {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid green;
}

.ground {
    color: #009900;
}

.sky {
    color: #CCCCFF;
}

.sea {
    color: #3333CC;
}

.box-epn {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 550px;
}

.list1 {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.list2 {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center ;

    
}

.list3 {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.li-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img {
    width: 70px;
    height: 45px;
}

.item {
    margin-left:10px;
    margin-top: 10px;
    font-weight: bold;
}

