body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    border-bottom: 2px solid #9999CC;
    justify-content: space-between;
}

.gsm-hd {
    color: #CCCCFF;
    margin-left: 1.2cm;
}

.gsm-bk {
    color: #99CC33;
}

.gsm {
    color: #CCCCFF;
}
ul {
    list-style: none;
    margin-right: 2cm;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

.menu {
    float: left;
    margin: 10px 20px;
}
/*---- hedaer-----------------------*/

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.box1 {
    display: inline-flex;
    flex-direction: column;
    border: 3px solid black;
    width: 26%;
    height:500px;
}

.box2 {
    display: inline-flex;
    flex-direction: column;
    border: 3px solid blue;
    width: 26%;
    height:500px;
}

.box3 {
    display: inline-flex;
    flex-direction: column;
    border: 3px solid green;
    width: 26%;
    height:500px;
}