body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    border-bottom: 2px solid #9999CC;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin-right: 2cm;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

.menu {
    float: left;
    margin: 10px 20px;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sec-h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


.l-2 {
    padding-bottom: 30px;
}

.l-3 {
    padding-bottom: 30px;
}

.gsm-hd {
    color: #CCCCFF;
    margin-left: 1.2cm;
}

.gsm-bk {
    color: #99CC33;
}

.gsm {
    color: #CCCCFF;
}


.explain {
    margin-top: 1.6cm;

}   

.btn {
    border: solid;
    border-color:#FFCC66;
    background-color: #FFCC33;
    border-radius: 2rem;
    padding: 7px 20px;
}

.btn:hover {
    text-decoration: underline;
    color: #CC66CC;
    cursor: pointer;
}

.meet {
    font-weight: bold;
    font-size: medium;
}