body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    border-bottom: 2px solid #9999CC;
    justify-content: space-between;
}

.gsm-hd {
    color: #CCCCFF;
    margin-left: 1.2cm;
}

.gsm-bk {
    color: #99CC33;
}

.gsm {
    color: #CCCCFF;
}
ul {
    list-style: none;
    margin-right: 2cm;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

.menu {
    float: left;
    margin: 10px 20px;
}
/*---- hedaer-----------------------*/

.container {
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
    
}

img {
    width: 70px;
    height: 60px;
    margin-bottom: 5px;
}

.box1{
    margin-left: 20px;
    margin-top: 10px;
    flex-direction: column;
}

.item1 {
    width: 150px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 7px;
    border: solid;
    border-radius: 2ch;
}

.color-1 {
    border-color: red;
}

.color-2 {
    border-color: #FF9900;
}

.color-3 {
    border-color: #669900;
}

.color-4 {
    border-color: #3366CC;
}

.color-5 {
    border-color: #9933CC;
}   

.color-6 {
    border-color: #CC6699;
}

.color-7 {
    border-color: #006699;
}